@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img{
    width: 60%;
}

.navlist ul {
    display: none;
    /* gap: 20px;
    list-style-type: none */
    
}

/* LOGO SECTION */

.logo-section{
    width: 90%;
    
}

#logo-2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#logo-2 img{
    width: 11%;
}

/* FIRST PARAGRAPH */

.healthcare{
    width: 90%;
    text-align: center;
}

.healthcare h1{
    color: #00b39b;
    font-size:  1.875em ;
    margin: 0.7em ;
    letter-spacing: -2px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/*  */

.paragraph-container{
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    line-height: 1.5;
    
   
}
.paragraph-1{
min-height: 1px;
}

.paragraph-2{
    margin-top: 50px;
}

/*  */